# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
**/.next/
**/out/

# production
**/build
apps/conductor/conductor
apps/conductor/conductor.exe
apps/worker/worker
apps/worker/worker.exe
apps/conductor/data/

# misc
.DS_Store
Thumbs.db
Desktop.ini
*.pem
*.log

# local caches
/.cache/
**/.codebase/
/.pnpm-store/
/.gomodcache/
/.gocache/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
**/.env.*
!**/.env.example

# config files
/config.toml
/apps/conductor/config.toml

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# idea
.idea

# claude
.claude/settings.local.json
